POSTGRES_PASSWORD=
DB_HUBS_PASSWORD=
DB_CATALOG_PASSWORD=
DB_INVENTORY_PASSWORD=
DB_ORDERS_PASSWORD=
DB_OPERATIONS_PASSWORD=
RABBITMQ_PASSWORD=
REDIS_PASSWORD=
KEYCLOAK_ADMIN_PASSWORD=
OIDC_CLIENT_SECRET=
SESSION_PASSWORD=
LOCAL_STAFF_PASSWORD=
LOCAL_TENANT_ID=
